body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-stretch: condensed;
    padding: 20px 60px;
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}